streamlit>=1.28.0
pandas>=1.5.3
numpy>=1.24.3
yfinance>=0.2.28
PyPDF2>=3.0.0
openai>=1.3.0
tiktoken>=0.5.1
xhtml2pdf==0.2.17
pdfkit
weasyprint
llama_index
llama_index.embeddings.azure_openai
llama_index.llms.azure_openai
docx2txt
openpyxl